<h1>ようこそ！<span class="glyphicon glyphicon-star"></span>
<strong>Fitness chatへ</strong>  !!</h1>


<div class="about_txtArea">
      
    　<p>運動は、<br>人をどこまで健康にしてくれるのだろう。</p>
	  <p>人々の挑戦を引っ張っていけるように。
	  <br>一人一人のカラダに応えられるように。</p>
	  <p>Fitness chatは、<br>
	  <br class="u-hidden-md-up">様々な運動好きへの交流の場を
	  <br class="u-hidden-sm-down">作りました
	</div>